
{% extends "template.html" %}
{% load staticfiles %}
{%  load i18n %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/css/reset_password.css'%}">
<link rel="stylesheet" type="text/css" href= "{% static '/css/signup.css'%}" >
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" id="formdiv">
        <form method="post" >
            {% csrf_token %}
    
            {% for p in form %}
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 labinpdiv">
              <p id="labels">{{ p.label_tag }}</p>
            </div>
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 labinpdiv">
              <p> {{ p }}</p>
              <p>{{p.errors}}</p>
            </div>
            {% endfor %}
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"></div>
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" id="buttondiv">

              <button id="submitbutton" type="submit">{% trans 'Change password' %}</button>
            </div>
        </form>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" id="formdiv"></div>
{% endblock  %}
