{% extends "template.html" %}
{% load staticfiles %}
{%  load i18n %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/css/reset_password.css'%}">

<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" id="logindiv">
  <form method="post" class="loginPanel">
    {% csrf_token %}
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" class="buttondiv">
      <p id="text">{% trans 'Forgotten your password?' %}</p>
      <p id="textDescription">{% trans "Enter your email address below,  we'll email instructions for setting a new one." %}</p>
    </div>
    <div class="contentdiv">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 labinpdiv">
        <p id="labels">{% trans 'Email address:' %}</p>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 labinpdiv">
        <p> {{ form.email }}</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 labinpdiv">
      <p> {{ form.email.errors }}</p>
    </div>

    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"></div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" class="buttondiv">
      <button type="submit" id="submitbutton">{% trans 'Reset my password' %}</button>
    </div>
  </form>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ></div>
{% endblock  %}
